*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  /* COLORS */
  --cyan-300: hsl(192deg 90% 77%);
  --cyan-600: hsl(192deg 37% 48%);
  --purple-300: hsl(268deg 100% 86%);
  --purple-600: hsl(268deg 34% 53%);
  --slate-300: hsl(240deg 18% 85%);
  --slate-600: hsl(240deg 10% 57%);
  --slate-900: hsl(240deg 21% 20%);
  --white: hsl(0deg 0% 98%);

  /* TYPOGRAPHY PRESET1 */
  --fs-h1-300: 2.5rem;
  --fs-h1-600: 3rem;
  --fs-h1-900: 4rem;

  --fw-black: 900;

  --lh-110: 110%;

  /* TYPOGRAPH PRESET2 */
  --fs-h2-300: 2rem;
  --fs-h2-600: 2.25rem;
  --fs-h2-900: 2.5rem;

  /* TYPOGRAPH PRESET3 */
  --fs-h3-300: 0.75rem;
  --fs-h3-600: 0.875rem;
  --fs-h3-900: 1rem;

  --ls: 0.25rem;

  /* TYPOGRAPH PRESET4 */
  --fs-p-600: 1rem;
  --fs-p-900: 1.125rem;

  --fw-medium: 500;

  /* TYPOGRAPH PRESET5 */
  --fs-button: 1rem;
  --lh-button: 150%;
  
  /* SPACING */
  --sp-50: 0.25rem;
  --sp-100: 0.5rem;
  --sp-200: 1rem;
  --sp-300: 1.5rem;
  --sp-400: 2rem;
  --sp-500: 2.5rem;
  --sp-700: 3.5rem;
  --sp-800: 4rem;
  --sp-900: 4.5rem;
  --sp-1000: 5rem;
  --sp-1400: 7rem;
}

body {
  display: flex;
  flex-direction: column;
}



header {
  display: flex;
  flex-direction: column;

  gap: var(--sp-500);
}

.logo {
  margin-inline: auto;
  padding-top: var(--sp-500);
}

.hero-left,
.hero-right {
  display: none;
}

.hero-images-container {
  overflow: hidden;
  width: 100%;
}

.hero-mobile {
  display: block;
  width: 112%;
  max-width: none;
  margin-left: -6%;
}

.h1-container {
  display: flex;
  flex-direction: column;

  gap: var(--sp-300);

  text-align: center;
  justify-content: center;
  align-items: center;

  padding-inline: var(--sp-400);
}

h1 {
  font-size: var(--fs-h1-300);
  font-weight: var(--fw-black);
  line-height: var(--lh-110);

  color: var(--slate-900);
}

p {
  font-size: var(--fs-p-600);
  font-weight: var(--fw-medium);
  line-height: var(--lh-110);

  color: var(--slate-600);
}

.h1-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: var(--sp-200);
}

a {
  background-color: var(--cyan-600);
  color: var(--white);

  font-size: var(--fs-button);
  font-weight: var(--fw-black);
  line-height: var(--lh-button);

  padding: var(--sp-200) var(--sp-400);
  border-radius: 29px;

  width: max-content;

  transition: filter 0.15s ease;
}

a:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

span {
  color: var(--cyan-300);
}

.question-link {
  background-color: var(--purple-600);
}





.steps {
    position: relative;

    color: var(--slate-600);
    font-size: var(--fs-button);
    font-weight: var(--fw-black);

    width: 56px;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-inline: auto;

    border: 2px solid var(--slate-300);
    border-radius: 50%;
    background-color: white;

    margin-bottom: var(--sp-800);
    margin-top: calc(var(--sp-800) + var(--sp-800));
    
}

.steps::before {
    content: "";

    position: absolute;

    width: 2px;
    height: 80px;

    background-color: var(--slate-300);

    left: 50%;
    top: -80px;

    transform: translateX(-50%);
}





main {
  display: flex;
  flex-direction: column;

  gap: var(--sp-800);
}

.images-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--sp-200);

  padding-inline: var(--sp-400);
}

.images-grid-container img {
  border-radius: 10px;
}

.h2-container {
  display: flex;
  flex-direction: column;
  

  text-align: center;
  justify-content: center;

  padding-bottom: var(--sp-800);
  padding-inline: var(--sp-400);
}

h3 {
  color: var(--cyan-600);

  font-size: var(--fs-h3-300);
  font-weight: var(--fw-black);
  line-height: var(--lh-110);
  letter-spacing: var(--ls);

  padding-bottom: var(--sp-200);
}

h2 {
  color: var(--slate-900);

  font-size: var(--fs-h2-300);
  font-weight: var(--fw-black);
  line-height: var(--lh-110);

  padding-bottom: var(--sp-400);
}





.step-02 {
  margin-bottom: -28px;
}





footer {
  background-image:  linear-gradient(rgba(77, 150, 169, 0.8), rgba(77, 150, 169, 0.8)), url(../assets/mobile/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h2-footer-container {
  display: flex;
  flex-direction: column;
  gap: var(--sp-300);

  padding: var(--sp-800) var(--sp-400);

  text-align: center;
  align-items: center;
  justify-content: center;
}

.h2-footer-container h2, 
.h2-footer-container p {
  color: var(--white);
}

.footer-link {
  background-color: var(--purple-600);
}

.span-footer {
  color: var(--purple-300);
}



@media (min-width: 768px) {
  header {
    gap: var(--sp-900);
  }

  .h1-links-container {
    flex-direction: row;
  }

  h1 {
    font-size: var(--fs-h1-600);

    max-width: 350px;
    margin-inline: auto;
  }

  h2 {
    font-size: var(--fs-h2-600);

    max-width: 445px;
    margin-inline: auto;
  }

  h3 {
    font-size: var(--fs-h3-600);
  }

  p {
    font-size: var(--fs-p-900);

    max-width: 550px;
    margin-inline: auto;
    
  }

  header p {
    max-width: 450px;
  }

  .steps {
    margin-top: calc(var(--sp-800) + var(--sp-1400));
  }

  .images-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .step-02 {
    margin-top: calc(var(--sp-800) + var(--sp-400));
  }

  footer h2 {
    max-width: 700px;
  }

  footer p {
    max-width: 580px;
  }
}

@media (min-width: 1024px) {
  .hero-images-container {
    display: contents;
  }

  .hero-left,
  .hero-right {
    display: block;
    width: 100%;
  }

  .hero-mobile {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .logo {
    grid-column: 1 / -1;
  }

  .h1-container {
    grid-column: 2/3;
    grid-row: 2/2;
  }

  header p {
    max-width: 420px;
  }

  .images-grid-container {
    padding-inline: var(--sp-1400);
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    background-image:  linear-gradient(rgba(77, 150, 169, 0.8), rgba(77, 150, 169, 0.8)), url(../assets/desktop/image-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  .h2-footer-container {
    display: flex;
    flex-direction: row;
    gap: var(--sp-1400);
  }

  footer p {
    max-width: 350px;
    text-align: start;
  }

  footer h2 {
    max-width: 350px;
    text-align: start;
  }
}
